@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    /*border: 1px dotted black;*/
}

body {
    font-family: 'Courier Prime', sans-serif;
    width: 100%;
    color: #000;
    padding-bottom: 1rem;
}

header {
    padding-top: 5rem;
    padding-bottom: 3rem;
    text-align: center;
    margin: auto;
    width: 80vw;
}

h1, h2, h3, p {
    margin-bottom: 1rem;
}

.section {
    width: 60vw;
    margin: auto;
    margin-bottom: 5rem;
}

.section h2 {
    margin-bottom: 2rem;
}

.section h3 {
    margin-top: 3rem;
}

.theme-item {
    margin-top: 3rem;
}

.theme-item > * {
    display: inline-block;
    vertical-align: top;
}

.theme-img-and-caption {
    width: 40%;
}

.theme-img {
    width: 100%;
    border-radius: 28px;
}

.theme-caption {
    width: 90%;
    color: #7E7E7E;
    margin-top: 1rem;
    font-size: 0.8rem;
    margin-left: 1rem;
}

.theme-text {
    margin-left: 2rem;
    margin-top: 1rem;
    width: 50%;
}

.theme-text * {
    margin-bottom: 2rem;
}

.publication {
    margin-bottom: 1.5rem;
}

#header-img {
    vertical-align: top;
    display: inline-block;
    height: 40vh;
    border-radius: 28px;
}

#header-text {
    vertical-align: top;
    margin-left: 3rem;
    margin-top: 2rem;
    height: 40vh;
    width: 30vw;
    text-align: left;
    display: inline-block;
}

#header-text h2 {
    margin-top: 2rem;
}

/* Mobile phones and smaller tablets: */
@media only screen and (max-width:1200px) {

    header {
        padding-top: 2rem;
        padding-bottom: 0;
    }

    header * {
        display: block;
    }

    h1 {
        margin-top: 2rem;
    }

    .section {
        margin-top: 2rem;
    }

    .theme-item > * {
        width: 100%;   
        margin: auto;
        display: block;
        margin-bottom: 1rem;
    }

    .theme-item {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 3rem;
    }

    .theme-text {
        margin-left: 0;
        width: 100%;
    }

    .theme-caption {
        margin-left: 0;
        margin-bottom: 0;
    }

    .theme-img-and-caption, #header-img {
        width: 85%;
        height: auto;
    }

    #header-text {
        width: 100%;
        height: auto;
        margin: auto;
    }

    header, .section {
        width: 90vw;
    }

    .publication a {
        word-break: break-all;
    }
}
